body {
  background-color: black;
  color: white;
}
body::-webkit-scrollbar{
  display:none;
}

.div{
  background-color: aqua;
  margin: 30px;
  padding: 30px;
  border-radius: 10px;
}

.hover_effect {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 300px;
  overflow: hidden;
  transition: 0.7s ease;
   margin:10px
}

.hover_effect_img {
  width: 100%;
  transition: transform 0.7s ease;
  transform: translateZ(0);
}
.hover_effect:hover{
  transform: scale(1.1);
  translate: (50px);
}

button{
  font-weight: bold;
}
